# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore environment files
.env

# Ignore virtual environment directories
venv/
env/

# Ignore log files
*.log

# Ignore data files
data/

# Ignore .history folder
.history/